body{
    background-image: url('../images/brick-wall-dark.png');
    background-color: black;
}
article{
    border-radius: 100%;
    padding:20px;
}
label, a, p{
    color:white;
    font-family: 'Verdana', sans-serif;
}
h1{
    text-align: center;
    margin: 5px;
    color: white;
    font-family: 'rock salt', cursive;
}
h2,h3{
font-family: 'Verdana', sans-serif;
color:#C7F464;
}
a,li,ul{
font-family: 'Verdana', sans-serif;
text-decoration: none;
    list-style-type:none;
    cursor: pointer;
}
nav{
    height:100%;
    display: block;
    text-align: center;
}
nav a{
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    border:1px solid;
    padding:10px;
    margin:5px;
    color: #556270;
    text-align: center;
    border-radius:2px;
    width:17%;
    display: inline-block;
    overflow: hidden;
}

nav a:hover,.selected {
    text-shadow: 3px 3px .5em #4ECDC4;
    box-shadow: 2px 2px 10px #4ECDC4;

    color: #4ECDC4;
    font-weight: bold;
}

a:hover{
    color: #4ECDC4;
}

.selected !important{
    text-shadow: 3px 3px .5em #4ECDC4;
    box-shadow: 2px 2px 10px #4ECDC4;
    color: #4ECDC4;
}
img{
    height:250px;
    width:250px;
    border-radius: 3px;
    border:solid 2px white;

    margin: 0 auto;
    cursor:pointer;
}

form input#name,
form input#email,
form input#subject {
  width: 50%;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  /*padding: 5px;*/
  font-size: 1.1em;
}
form p, .thanks, .flash{
    width:100%;
    display: inline-block;
    text-align: center;
    margin-top: 0px;
}
form textarea#message {
    width: 50%;
    height: 100px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.1em;
}

form input#submit {
    width: 51.5%;
    display: block;
    -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    border:1px solid lightgrey;
    padding: 10px;
    font-size: 15px;
    font-weight:bold;
    display: inline-block;
    text-align: center;
    color: #000000;
    font-family: verdana;
    /*background-color: #f4f4f4;*/
    background-color: lightgrey;

}

form input#submit:hover{
    width: 51.5%;
    cursor: pointer;
    border:1px solid #4ECDC4;
    background-color: #4ECDC4;

}

/* Contact form */
form label {
    color: #4ECDC4;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    padding: 5px 0;
    margin:0px;
}
.portfolio,.title{
    width:100%;
    display: inline-block;
    text-align: center;
}
.about{
    /*padding:10px;*/
    margin-left: 25px;
    width:60%;
    display:inline-block;
    text-align: left;
    /*float: right;*/
}

.flash{
    color: #990033;
    width: 100%;
}
.flash:last-child{
    margin-bottom: 10px;
}
.error,.thanks{
    /*padding:5px;*/
    /*border:solid 2px #990033;*/
    width:51%;
    display: inline-block;
    text-align: center;
    margin-right: 25%;
    margin-left: 24.3%;
    border-radius: 3px;
}
.web, .logos{
    color:white;
    padding:3px;
}
.web h3,.logos h3{
    font-size: 25px;
    color: #4ECDC4;
    margin:5px;
}
.web li, .logos li{
    padding:3px;
    cursor: auto;
    margin-bottom: 5px;
}
.romagnets,.banner,.poshdog,.overseas,.mutants,.chiapas{
    width:auto;
    background-color: #005F6B;
    margin-bottom: 3px;
    align:middle;
    text-align: center;
    display: block;

}
.banner{
    height:150px;
}
.chiapas{
    height: 339px;
    width:auto;
}
.romagnets{
    background-color: black;
    height:195px;
}
.daniel{
    /*height: auto;*/
    width:auto;
    /*align:left;*/
    /*text-align: left;*/
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
    margin-top: 15px;
}
/*@media (min-width: 1500px) {
    .about{
        width:65%;
    }
    form p{
        margin-bottom: 30px;
    }*/
@media (max-width: 1000px) {
    .about{
        width:50%;
    }

@media (max-width: 800px) {
    .about{
        width:45%;
    }
@media (max-width: 700px) {
    .daniel{
        display: block;
        text-align: center;
        /*width:auto;*/
        margin: 0 auto;
        float:none;
        /*border: solid 20px;*/
    }
    .about{
        display: inline-block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        height:auto;
    }
}
@media (max-width: 500px) {
    form input#name,
    form input#email,
    form input#subject,
    form input#message,
    form textarea#message,
    form input#submit{
        width:90%;
    }
