{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<article>
    <!-- <h2 class="title">About</h2> -->
    <img class="daniel" src="../static/images/daniel-normal.jpg">
    <section class="about">
        <p>
            Hi, my name is Daniel Pearl and I'm a Web Developer and Graphic Designer in Portland, Oregon. I work with the team at X1O Development to design websites for business owners. This includes creating E-commerce pages, appointment calendars, and anything else a business might need. </br></br>

            • I am certified through PDX Code Guild which covers Python, Django, SQL, Javascript, CSS, and HTML5. </br></br>

            • I have years of graphic design experience which includes designing logos, creating business websites, drawing webcomics and animating commercial storyboards. </br></br>

            • I'm knowledgeable about data-analysis, statistics and correlations. I have an interest in big data visualization. 
        </p>
        <p>

        </p>
    </section>
</article>
{% endblock %}
