{% extends "base.html" %}
{% block title %}Portfolio{% endblock %}

{% block content %}
<article>
    <!-- <h2 class="title">Portfolio</h2> -->
    <section class="portfolio">
        <ul class="web">
            <h3>Web</h3>
            <li><a href="http://chiapaspaste.com/">Chiapas Paste (Chili paste food business)</a></li>
            <li><a href="http://www.romagnets.com/">Romagnets (Fridge magnet business)</a></li>
            <li><a href="http://x10project.github.io/">X1O Development (Website Development business)</a></li>
            <li><a href="http://manuele.bitballoon.com/">James Manuele (Music business)</a></li>
        </ul>
        <ul class="logos">
            <h3>Graphic Design</h3>

            <li><img class="banner" src="../static/images/Chiapas_Banner_04.jpg">Chiapas Paste banner</img></li>
            <li><img class="chiapas" src="../static/images/face3.jpg">Chiapas Paste logo</img></li>
            <li><img class="poshdog" src="../static/images/poshdog_06.png">Posh Dog Media logo</img></li>
            <li><img class="romagnets" src="../static/images/romagnets.png">Romagnets logo</img></li>



        </ul>
    </section>
</article>
{% endblock %}
